
<%= form_for  do |f| %>

<fieldset class="field">
  <%= f.label :content %><br>
  <%= f.text_field :content %>
</fieldset>

<fieldset class="actions">
  <label></label>
  <%= f.submit 'add comment!'%>
</fieldset>

<% end %>
