

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>

    <h1>welcome to heimat</h1>

    <h4>Heimat is German is the place we're connected to that shaped who we are. <br>
    Most of us associate who we are with where we come from. <br>
    The food, the music, the art, friends, family, school, childhood memories and adulthood experiences <br>
    all stem from the place we call home. <br>
    Heimat refers to the place that makes us who we are. <br>
    It refers to the attitudes and beliefs we’ve formed that have evolved over generations. <br>
    It doesn’t refer to just homeland pride, but our roots.<br>
    </h4>

<!-- <div class="container-home-1>" -->
    <div class="polaroid">
      <p>food</p>
      <img src="/..images/food-home.jpeg">
    </div>

    <!-- <div class="polaroid" class="col-xs-6 col-sm-4">
      <p>travel</p>
      <img src="/..images/travel-home.jpg" >
    </div>

    <div class="polaroid" class="col-xs-6 col-sm-4">
      <p>home decor</p>
      <img src="/..images/decor-home.jpg" >
    </div>
</div>


<div class="container-home-2">
    <div class="polaroid" class="col-xs-6 col-sm-4">
      <p>animals</p>
      <img src="/..images/animals-home.jpg" >
    </div>

    <div class="polaroid" class="col-xs-6 col-sm-4">
      <p>plants</p>
      <img src="/..images/plant-home.jpg" >
    </div>

    <div class="polaroid" class="col-xs-6 col-sm-4">
      <p>other</p>
      <img src="/..images/other-home.jpg" >
    </div>
</div> -->

  </body>
</html>
