// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//home page

@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Caveat');


h1 {
  font-size: 65px;
  text-align: center;
  color: #04f2da;
  font-family: 'Kalam', cursive;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font-family: 'Caveat Brush', cursive;
  color: #888;
  font-size: 25px;
}

h4 {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  color: #01050f
}
